version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: quickeats_postgres
    restart: always
    environment:
      POSTGRES_USER: quickeats
      POSTGRES_PASSWORD: quickeats_password
      POSTGRES_DB: quickeats_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: quickeats_mongodb
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:7
    container_name: quickeats_redis
    restart: always
    ports:
      - '6379:6379'

volumes:
  postgres_data:
  mongodb_data: